.wrapper {
    height: auto;
    background: royalblue;
    display: flex;
    justify-content: space-between;
}

.title {
    margin-left: 20px;
    color: rgba(255, 255, 255, 0.849);
}
.buttons {
    display: flex;
    align-items: center;
}

.wrapper button {
    width: 40px;
    height: 40px;
    margin: 10px;
    text-align: center;
    cursor: pointer;
}

.wrapper img {
    display: flex;
    align-items: center;
}