.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: rgb(241, 241, 241);
    width: 4%;
    height: 89.2vh;
}

.sidebar button {
    width: 70px;
    margin-bottom: 30px;
    cursor: pointer;
}

.sidebar img{
    width: 30px;
}